<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Телефонный справочник</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Телефонный справочник</h1>
    {{{body}}}
  </div>
  <script src="/js/update.js"></script>
</body>
</html>